html,
body,
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(27, 27, 27);
}

h1 {
    font-size: 76px;
    letter-spacing: 16px;
    text-align: center;
    position: relative;
    right: -6px;
    color: rgb(230, 230, 230);
}

.game-description {
    color: rgb(230, 230, 230);
    font-size: 18px;
}

.game-container {
    display: grid;
    grid-template-rows: repeat(6, 80px);
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
}

.cell {
    width: 80px;
    height: 80px;
    border: 4px solid rgb(61, 61, 61);
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(230, 230, 230);
}

.right {
    background-color: rgb(19, 129, 19);
    border: 4px solid rgb(19, 129, 19);
}

.close {
    background-color: rgb(175, 175, 9);
    border: 4px solid rgb(175, 175, 9);
}

.wrong {
    background-color: rgb(61, 61, 61);
}

.new-game {
    margin-top: 20px;
    font-size: 16px;
    color: rgb(230, 230, 230);
    font-weight: bold;
    visibility: hidden;
}


.answer-display {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: rgb(27, 27, 27);
    border-radius: 8px;
    margin: 20px 0px;
    visibility: hidden;
    height: 41px;
    font-size: 18px;
}

.shake-horizontal {
    animation: shakeHorizontal 0.5s ease-in-out 2; 
  }
  
  @keyframes shakeHorizontal {
    0% { transform: translateX(0); }
    10% { transform: translateX(-5px); }
    30% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    70% { transform: translateX(5px); }
    90% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }