html,
body,
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    display: grid;
    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(4, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    background-color: green;
}

.close {
    background-color: yellow;
}

.wrong {
    background-color: gray;
}

.new-game {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    background-color: rgb(182, 182, 182);
}

.new-game:hover {
    background-color: lightgray;
}